<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Vogeez | Authentication</title>
    <link rel="stylesheet" href="css/faces.css" th:href="@{/css/faces.css}">
    <link rel="stylesheet" href="css/auth.css" th:href="@{/css/auth.css}">
</head>
<!-- The body section -->
<body>
<input type="checkbox" aria-hidden="true" id="switch">

<!-- th:unless="${signIn} == true" Login template -->
<div class="sign-in container">
    <div class="input-container">
        <div class="headline">
            <h3>Welcome back!</h3>
        </div>
        <form id="login" th:action="@{/signin}" class="form-container" method="post">
            <label for="login_username">Email or Username</label>
            <input id="login_username" type="text" name="username" required>

            <label for="login_password">Password</label>
            <input id="login_password" type="password" name="password" required>

            <a href="" class="linked">Forgot password?</a>

            <button type="submit">Login</button>
            <label for="switch" class="to-signup">You doesn't have an account? <span>Signup</span></label>
        </form>
    </div>
</div>

<!-- th:if="${signIn} == true" Signup template -->
<div class="sign-up container">
    <div class="input-container">
        <div class="headline">
            <h3>Welcome new friend!</h3>
        </div>
        <form id="signup" th:action="@{/signup}" th:object="${signUpRequest}" class="form-container" method="post">
            <label for="signup_username">Username</label>
            <input id="signup_username" type="text" name="username" required>

            <label for="signup_email">Email</label>
            <input id="signup_email" type="email" name="email" required>

            <label for="signup_password">Password</label>
            <input id="signup_password" type="password" name="password" required>

            <label for="signup_password_repeat">Password repeat</label>
            <input id="signup_password_repeat" type="password" name="password_repeat" required>

            <a href="" class="linked">Forgot password?</a>

            <button type="submit">Sign Up</button>
            <label for="switch" class="to-signup">You doesn't have an account? <span>Login</span></label>
        </form>
    </div>
</div>

<!--
<div th:if="${signIn} == true" class="container">
    <div class="headline">
        <h1 class="headline">Sign Up</h1>
    </div>
    <form th:action="@{/signup}" th:object="${signUpRequest}" class="form-style" method="POST">
        <label for="username_register" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Username</label>
        <input th:field="*{username}" id="username_register" type="text" placeholder="Username..." required>

        <label for="email_register" th:if="${#fields.hasErrors('email')}" th:errors="*{email}">Username</label>
        <input th:field="*{email}" id="email_register" type="email" placeholder="Email..." required>

        <label for="password_register" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Username</label>
        <input th:field="*{password}" name="password_register" id="password_register" type="password" placeholder="Password..." required>

        <label for="password_register_repeat" th:if="${#fields.hasErrors('passwordRepeat')}" th:errors="*{passwordRepeat}">Username</label>
        <input th:field="*{passwordRepeat}" id="password_register_repeat" type="password" placeholder="Password..." required>

        <label for="terms_register_repeat" th:if="${#fields.hasErrors('acceptTerms')}" th:errors="*{acceptTerms}">Username</label>
        <input th:field="*{acceptTerms}" id="terms_register_repeat" type="checkbox" name="terms" required>
        <label for="terms_register_repeat">I accept the terms and conditions</label>

        <input id="submit_register" type="submit" value="Sign Up">
        <a th:href="@{/?signIn=0}">Already a member? Sign In!</a>
    </form>
</div>
-->
</body>
</html>